.upper-container {
  height: 50vh;
  background-color: #f3f3f3;
}

.lower-container {
  height: 50vh;
}

header {
  background-color: #c4c4c4;

  text-align: left;
  padding: 5000px;

  box-sizing: border-box;
}

header h1 {
  font-size: 2em;
  padding: 2rem;
}

.main-container {
  padding-top: 1em;
}

h1,
h2 {
  font-size: 1.5em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

img {
  height: 13em;
  border-radius: 50%;
}

.description {
  padding-top: 1em;
  padding: 2rem;
  padding-right: 50%;
}

.description h2 {
  padding-bottom: 1em;
}

p,
li {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5em;
}

.list {
  padding-top: 1.5rem;
  padding-left: 2rem;
  padding-bottom: 0.5em;

  line-height: 1.5em;
}

footer img {
  background-color: black;

  height: 3em;
  margin-left: 0.5em;
}

footer img:first-of-type {
  margin-left: 2rem;
}

.facebook {
  background-color: white;
}

.linkedin {
  background-color: white;
}

a {
  color: black;

  font-size: 1.2em;
}
